{namespace helper=Alexweb\AwWeather\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
    <f:flashMessages />

    <helper:addPublicResources theme="{settings.theme}" />

    <div class="{settings.theme}">
        <div class="black">
            asass
        </div>

        <f:if condition="{0:apiName} == {0:'weather'}">
            City : {response.name}<br />
            Country : {response.sys.country}<br />
            Temperature {response.main.temp}<br />
            Weather : {response.weather.description}<br />

            <span class="icons icon_{response.weather.icon}">&nbsp;</span>
        </f:if>

        <f:if condition="{0:apiName} == {0:'forecast'}">
            City : {response.city.name}<br />
            Country : {response.city.country}<br />

            <f:for each="{response.list}" as="item">
                Temperature {item.main.temp}<br />
                Weather : {item.weather.description}<br />
                <span class="icons icon_{response.weather.icon}">&nbsp;</span>
            </f:for>
        </f:if>

        <f:if condition="{0:apiName} == {0:'forecast___daily'}">
            City : {response.city.name}<br />
            Country : {response.city.country}<br />

            <f:for each="{response.list}" as="item">
                Day {item.day}  {item.date}  {item.month} <br />
                Temperature day {item.temp.day}<br />
                Temperature night {item.temp.night}<br />
                Weather : {item.weather.description}<br />
                <span class="icons icon_{response.weather.icon}">&nbsp;</span>
            </f:for>
        </f:if>

    </div>

</f:section>