<f:layout name="Default" />

<f:section name="main">
    <h3>Weather Dashboard - Generate json from icons</h3>

    <p>
        generate json from icons
    </p>
    <f:for each="{themes}" as="theme">
        <form action="" method="post" class="themeList">
            <input type="hidden" value="{theme.basename}" name="theme" />

            <input type="submit" value="{theme.basename}" />
        </form>
    </f:for>

    {css}<br />

    <f:link.action action="list">back to list</f:link.action>

</f:section>