<f:layout name="Default" />

<f:section name="main">
    <form enctype="multipart/form-data" method="post" action="">
        <label>Choose a zip file to upload:</label>
        <input type="file" name="files" />
        <input type="submit" name="submit" value="Upload" />
    </form>

    <f:if condition="<f:count subject='{error_messages}' /> > 0">
        <h4>The following errors occurred</h4>
        <ul>
            <f:for each="{error_messages}" as="error">
                <li>
                    {error.message}
                </li>
            </f:for>
        </ul>
    </f:if>

    <f:if condition="{isUploaded}">
        <h4>Theme was uploaded successfully</h4>
    </f:if>

    <f:link.action action="list">back to list</f:link.action>
</f:section>